<%- include('../../includes/head.ejs') %>
<%- include('../../includes/header.ejs') %>
<link rel="stylesheet" href="./css/login.css">
</head>
<body class="align">
    <nav>
        <a class="nav-link" href="/">Go Back <span class="sr-only">(current)</span></a>
    </nav>
        <div class="grid">
            <form class="form login" action="/new-password" method="POST">
                <div class="form__field">
                    <label for="login__password"><svg class="icon">
                        <use xlink:href="#icon-lock"></use>
                      </svg><span class="hidden">Password</span></label>
                    <input id="login__password" type="password" name="password" class="form__input"
                    placeholder="Password" value="" id="password" required>
                  </div>       
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="submit" value="Sign In">
        </form>
    </main>
<%- include('../includes/end.ejs') %>
