<%- include('../../includes/head.ejs') %>
<%- include('../../includes/header.ejs') %>
<link rel="stylesheet" href="./css/login.css">
</head>
<body class="align">
    <nav>
        <a class="nav-link" href="/">Go Back <span class="sr-only">(current)</span></a>
    </nav>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <div class="grid">
            <form class="form login" action="/reset" method="POST">
            <div class="form__field">
                <label for="login__email"><svg class="icon">
                    <use xlink:href="#icon-user"></use>
                </svg><span class="hidden">Email</span></label>
                <input autocomplete="email" id="login__email" type="text" name="email" class="form__input" placeholder="Email" required>
            </div>
            <div class="form__field">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="submit" value="Sign In">
            </div>  
        </form>
<%- include('../../includes/end.ejs') %>

