<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
</head>

<body class="container">
    <%- include('../includes/navigation'); -%>
    <h1 class="display-4"><%= movieTitle %></h1>
    <img src="<%= 'http://image.tmdb.org/t/p/w500' + image %>" alt="Movie Poster">
    <p><%= movieDetails %></p>
    <br>
    <p> Movie Rating: </p>
    <p><%= ratings %></p>
    <br>
    <p> Release Date: </p>
    <p><%= release %></p>
    <form action="/add-title" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="movieTitle" value="<%= movieTitle %>">
        <input type="hidden" name="release" value="<%= release %>">
        <button type="submit" value="<%= csrfToken %>">Add to List</button>
    </form>

    <%- include('../includes/end.ejs') %>