<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/movie-card.css">
</head>
<body>
    <%- include('../includes/navigation'); -%>
    <!-- <div class="container"> -->
        <div class="movie-card">
            <div class="poster-wrapper">
              <div class="poster">
                <img src="<%= 'http://image.tmdb.org/t/p/w500' + image %>" alt="Movie Poster">
                <form action="/add-title" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="movieTitle" value="<%= movieTitle %>">
                    <input type="hidden" name="release" value="<%= release %>">
                    <input type="hidden" name="image" value="<%= image %>">
                    <input type="hidden" name="titleId" value="<%= titleId %>">
                    <button class="btn-play" type="submit" value="<%= csrfToken %>">&#43;</button>
                </form>
              </div>
            </div>
            <!-- end poster-wrapper -->
            <div class="movie-info">
              <div class="header-section">
                <h2><%= movieTitle %></h2>
                <span><%= release %></span>
                <div class="extra">
                  <div class="ratings"><p><%= ratings %></p></div>
                  <p class="channels"><span>Hulu</span><span>Youtube</span><span>BBC</span></p>
                </div>
              </div>
              <div class="cast-section">
                <h3>THE CAST</h3>
                <div class="casts">
                  <img src="https://m.media-amazon.com/images/M/MV5BNDg4OTczODE5Nl5BMl5BanBnXkFtZTcwMjgwMjA0Mg@@._V1_UY44_CR3,0,32,44_AL_.jpg" alt="avatar" />
                  <img src="https://m.media-amazon.com/images/M/MV5BOTkyNDE4NTA4NF5BMl5BanBnXkFtZTgwOTY3ODQ1MDI@._V1_UY44_CR3,0,32,44_AL_.jpg" alt="avatar" />
                  <img src="https://m.media-amazon.com/images/M/MV5BNzYwMTQ1ODY1MV5BMl5BanBnXkFtZTgwMTU5NDc5OTE@._V1_UY44_CR17,0,32,44_AL_.jpg" alt="avatar" />
                  <img src="https://m.media-amazon.com/images/M/MV5BMTEyMDA1MzE0NjdeQTJeQWpwZ15BbWU3MDM0NzA4MDQ@._V1_UY44_CR1,0,32,44_AL_.jpg" alt="avatar" />
                </div>
              </div>
              <div class="synopsis-section">
                <h3>About</h3>
                <p><%= movieDetails %></p>
              </div>
              <div class="gallery-section">
                <h3>VIDEO / PICTURE</h3>
                <div class="gallery">
                    <!-- <div class="medium"><img src="<%= 'http://image.tmdb.org/t/p/w500' + image %>" alt="Movie Poster"></div> -->
                  <div class="medium"><img src="<%= 'http://image.tmdb.org/t/p/w500' + gallery %>" alt="media" /></div>
                </div>
              </div>
            </div>
          </div>
          <!-- end movie-card -->
        <!-- </div> -->
        </main>
   


          <!-- end movie-card -->
        <!-- </div> -->

    <%- include('../includes/end.ejs') %>