<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="movie-container">
    <div class="container mt-5">
        <div class="d-flex justify-content-center align-items-center" id="search-bar">
          <div class="mx-2 row">
            <form id="search" class="form-inline">
              <label class="sr-only" for="inlineFormInputName2">Name</label>
              <input type="text" class="form-control mb-2 mr-sm-2" id="search-input" placeholder="search name ...">
              <button type="submit" class="btn btn-primary mb-2" id="search-btn">Search</button>
            </form>
          </div>
          </div>
          </div>

        <div class="movies mt-5">
        <% for (let nowPlaying of nowPlayingList) { %>
            <figure class ="movie__figure">
            <a href="/title/<%= nowPlaying.id %>">
                <img class="movie__poster" src="<%= 'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + nowPlaying.poster_path %>" alt="Movie Poster">
            </a>
              <h2 class ="movie__title"> <%= nowPlaying.title %> </h2>
            </figure>
        <% } %>
    </div>
        <!-- PREVIOUS BUTTON DOES NOT WORK -->
        <nav class="mt-5" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
        <% if (currentPage !== 1 && previousPage !== 1) { %>
            <!-- <li class="page-item disabled">
                <a class="page-link" href="?page=<%= previousPage %>"tabindex="-1">Previous</a>
            </li> -->
        <% } %>
        <% if (hasPrevious) { %>
            <li class="page-item"><a class="page-link" href="?page=<%= previousPage %>" class=""><%= previousPage %></a></li>
        <% } %>
        <li class="page-item"><a class="page-link" href="?page=<%= currentPage %>"><%= currentPage %></a></li>
        <li class="page-item"><a class="page-link" href="?page=<%= nextPage %>" class=""><%= nextPage %></a></li>
            </ul>
            </nav>
        </div>
          
<%- include('../includes/end.ejs') %>