<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<script src="/scripts/isViewed.js"></script>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1><%= firstName %>'s List</h1>
        <% if (titles.length > 0) { %>
        <button onclick="displayPending()">Pending</button>
        <button onclick="displayAll()">All</button>
        <button onclick="displayViewed()">Viewed</button>
        <ul class="cart__item-list">
            <% titles.forEach(p => { %>
            <li class="cart__item">
                <h1><%= p.title %></h1>
                <img src="<%= 'http://image.tmdb.org/t/p/w200' + p.poster_path %>" alt="Movie Poster">
                <form action="/delete-title" method="POST">
                    <input type="hidden" value="<%= p.movieId %>" name="titleId">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn danger" type="submit">Delete</button>
                </form>
                <label>Viewed:</label>
                <input type="checkbox" class="isViewedBox" onclick="updateViewed(this)"
                    <%= p.isViewed ? "checked" : "" %>>
            </li>
            <% }) %>
        </ul>

        <% } else { %>
        <h1>No Media added!</h1>

        <% } %>

    </main>
    <%- include('../includes/end.ejs') %>